[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
click = "*"
kafka-python = "*"
psycopg2-binary = "*"
python-dateutil = "*"
requests = "*"
webcheck = {editable = true, path = "."}
PyYAML = "*"
cerberus = "*"

[requires]
python_version = "3.8"
